
body {    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    margin-top: 50px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}
button {
    background-color: #008c05;
    border: solid rgb(89, 147, 3);
    color: white;
    padding: 4px 7px;
    border-radius: 7px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 5px;
  }
  footer {
      text-align: center;
  }